/* app css stylesheet */
/* staff */
.staff { width: 960px; margin: 0 auto; padding: 20px 0; }
.staff .users { width: 700px; float: left; }
.staff .teams { width: 240px; float: right; }

/* typeahead */
.tt-hint { color: #999; display: none; }

.tt-dropdown-menu { width: 590px; margin-left: -6px; padding: 8px 0; background: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 8px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion { font-size: 18px; line-height: 24px; padding: 3px 20px; cursor: default; }
.tt-suggestion p { margin: 0; }

.tt-suggestion.tt-cursor { color: #fff; background: #0097cf; }

/* user-search */
.user-search { margin: 10px 0; position: relative; }
.user-search form { margin-right: 110px; }
.user-search .tm-tag { font-size: 14px; line-height: 24px; }
.user-search .query { width: 240px; }
.user-search .refresh { width: 100px; right: 0; top: 0; position: absolute; }

/* user-filter */
.user-filter { margin: 10px 0; }
.user-filter .query { width: 240px; }

/* user-list */
.user-list .table { cursor: default; }
.user-list .table > tbody + tbody { border: 0; }
.user-list thead span { color: #428bca; cursor: pointer; }
.user-list thead span:hover { color: #2a6496; text-decoration: underline; }
.user-list .name { color: #428bca; cursor: pointer; }
.user-list .name:hover { color: #2a6496; text-decoration: underline; }
.user-list .reviews textarea { width: 100%; margin-bottom: 5px; }

/* team-add */
.team-add { margin-top: 40px; }
.team-add input { width: 200px; border-right: 0; float: left; }
.team-add button { width: 40px; float: left; }

/* team-list */
.team-list { margin-top: 20px; }
.team-list .list-group-item { cursor: pointer; }
.team-list .list-group-item.active { color: #fff; cursor: default; }
.team-list ul li { margin-top: 5px; }
.team-list .badge { float: right; }
.team-list .active .badge { color: #428bca; background: #fff; }

/*# sourceMappingURL=app.css.map */
