<div class="tab-pane active">

  <div class="user-filter">
    <input type="text" placeholder="Filter" class="query form-control" ng-model="query">
  </div>

  <div class="user-list">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><span ng-click="reverse=!reverse;order('name', reverse)">Name</span></th>
          <th><span ng-click="reverse=!reverse;order('job', reverse)">Job</span></th>
          <th><span ng-click="reverse=!reverse;order('age', reverse)">Age</span></th>
          <th><span ng-click="reverse=!reverse;order('grade', reverse)">Grade</span></th>
        </tr>
      </thead>
      <tbody ng-repeat="user in users | filter:query">
        <tr ng-click="showReviews($event)">
          <td>
            <span class="name" ng-click="joinTeam($event)" tooltip-html-unsafe="{{user.job}} / {{user.grade}} <br> Age: {{user.age}}">{{user.name}}</span>
            <span class="count badge" ng-show="user.reviews.length">{{user.reviews.length}}</span>
          </td>
          <td>{{user.job}}</td>
          <td>{{user.age}}</td>
          <td>{{user.grade}}</td>
        </tr>
        <tr ng-show="user.active">
          <td class="reviews" colspan="4">
            <ul ng-show="user.reviews.length">
              <li ng-repeat="review in user.reviews">{{review}}</li>
            </ul>
            <form name="user.reviewForm" ng-submit="addReview()">
              <textarea class="form-control" placeholder="Add Review" ng-model="user.newReview"></textarea>
              <button class="btn btn-primary" type="submit" ng-disabled="!user.newReview">Submit</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
