<div class="tab-pane active">

  <div class="user-search" user-search>
    <form class="form-inline">
      <input name="user" type="text" placeholder="Find User" class="query form-control">
      <button type="button" class="refresh btn btn-primary" ng-click="refreshTeam()" ng-show="active.team && active.uids.length">Refresh</button>
    </form>
  </div>

</div>
