<!DOCTYPE html>
<html lang="en" ng-app="staffApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Staff App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/tagmanager/tagmanager.css">

  <link rel="stylesheet" href="css/app.css"/>

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

  <script src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
  <script src="bower_components/tagmanager/tagmanager.fix.js"></script>
</head>
<body>

  <div class="staff clearfix">

    <div class="users">

      <ul class="nav nav-tabs" ng-controller="TabsCtrl">
        <li ng-class="{active:isActive('/search')}"><a href="#/search">Search</a></li>
        <li ng-class="{active:isActive('/list')}"><a href="#/list">List</a></li>
      </ul>

      <div class="tab-content" ng-view></div>

    </div>

    <div class="teams" ng-controller="TeamCtrl">

      <div class="team-add clearfix">
        <form class="input-group" name="teamForm" ng-submit="addTeam()">
          <input class="form-control" type="text" placeholder="Add New Team" ng-model="newTeam">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-disabled="!newTeam">+</button>
          </span>
        </form>
      </div>

      <ul class="team-list list-group">
        <li class="list-group-item" ng-repeat="team in teams" ng-class="{active: team.active}" ng-click="showTeam()">
          <div class="team">{{team.name}} <span class="count badge" ng-show="team.users.length">{{team.users.length}}</span></div>
          <ul ng-show="team.active && team.users.length">
            <li ng-repeat="user in team.users">
              <div class="user" tooltip-html-unsafe="{{user.job}} / {{user.grade}} <br> Age: {{user.age}}">{{user.name}}</div>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>

  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
